@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
   
}

body {
  height: 100vh;
  width: 100%;
  transition: .5s;

  background: radial-gradient(rgb(233, 77, 233), rgb(78, 1, 78));
}

.boxScroll::-webkit-scrollbar {
  width: 6px;
}

.boxScroll::-webkit-scrollbar-thumb {
  width: 8px;
  background-color: rgb(43, 44, 44);
}

 
 